@import "../../../assets/sass/style.scss";
.boleteo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  &__title {
    @include font-raleway-bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: $vintage;
  }
  &__description {
    @include font-raleway-normal;
    font-size: 1rem;
    max-width: 600px;
    text-align: center;
    color: $wedding;
  }
  &__alert {
    @include font-raleway-normal;
    background-color: $vintage;
    color: $beige;
  }
}
